<h1>編輯資料</h1>
<a href="https://evertrust.yungching.com.tw/map?q=&lat=22.6110190101813&lng=120.267889946231&d=0&t=&a=&c=" target="_blank">合理房價</a> |
<a href="https://tw.988house.com/user/login?ReUrl=/" target="_blank">988巨房屋網</a> |
<a href="http://aomp.judicial.gov.tw/abbs/wkw/WHD2A03.jsp?180AB79F7237207C77DB0ABF3B846AF5=2CE1CB280BA8FB3598EC9A9AAC0508CB&hsimun=all&ctmd=all&sec=all&saledate1=&saledate2=&crmyy=&crmid=&crmno=&dpt=&minprice1=&minprice2=&saleno=&area1=&area2=&registeno=&checkyn=all&emptyyn=all&rrange=%B3%A1%A5%F7&comm_yn=&owner1=&order=odposition&courtX=TND&proptypeX=C52&saletypeX=1&query_typeX=db" target="_blank">法拍屋查詢系統</a> |
<a href="http://www.tfasc.com.tw/Product/BuzRealEstate/" target="_blank">台灣金服</a> |
<a href="https://www.google.com.tw/maps" target="_blank">Google Map</a>
<%= render 'form', yfcase: @yfcase %>