/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';
/*@import '@fortawesome/fontawesome-free';*/
@import 'font-awesome.css';
@import "show";


.printcss {
    color: red;
    width: 120px;
    height: 120px;
    border-radius: 60%;
    border: 5px solid red;
    text-align: center;
}

.printcss-head {
    font-weight: bold;
    font-size: 26px;
}

.printcss-body {
    font-size: 16px;
    font-weight: bolder ;
    border: 5px solid red;
    border-style: solid none solid none;
}

.printcss-footer {
    font-weight: bold;
    font-size: 26px;
}

.final_decision_style_3 {
    text-align: center;
    color:blue;
    font-size: 36px;
    border:5px solid blue;
    border-radius: 10px;
}

.final_decision_style_4 {
    text-align: center;
    color:green;
    font-size: 36px;
    border:5px solid green;
    border-radius: 10px;
}

.final_decision_style_giveup{
    text-align: center;
    color:red;
    font-size: 36px;
    border:5px solid red;
    border-radius: 10px;  
}


