body{
	font-family: 微軟正黑體;
}


/*基本資料*/
.basedata {
	border:1px solid black;
}
.bd-th-50 {
	font-weight: bold;
	height:50px;
	text-align: center;
	line-height:50px;
	background-color:Bisque;
}

.bd-th-30 {
	font-weight: bold;
	height:30px;
	text-align: center;
	line-height:30px;
	background-color:Bisque;
}

.bd-td-50 {
	height:50px;
	line-height:50px;
}

.bd-td-30 {
	height:30px;
	line-height:30px;
}

.xa1100 {
	border-color: black;
	border-width: 1px;
	border-style:  none dotted dashed none;
}

.xa1200 {
	border-color: black;
	border-width: 1px;
	border-style: none dotted dashed none;
}

.xa1300 {
	background-color:Bisque;
	border-color: black;
	border-width: 1px;
	border-style: none dotted dashed none;
}

.xa1400 {
	border-color: black;
	border-width: 1px;
	border-style: none dotted dashed none;
}

.xa1500 {
	background-color:Bisque;
	border-color: black;
	border-width: 1px;
	border-style: none dotted dashed none;
}
.xa1600 {
	border-color: black;
	border-width: 1px;
	border-style: none none dashed dotted;
}

.xa1100 {
	border-color: black;
	border-width: 1px;
	border-style: none dotted dashed none;
}

.xa2100 {
	border-color: black;
	border-width: 1px;
	border-style: none dotted none none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.xb-th-color-cornsilk {
	background-color:Cornsilk;
}

.xb-td {

}

.xb1100 {

} 


/*.table{
	margin-bottom: 0px;
}

.basedata, .land, .build, .auction, .attachment, .finaldecision, .buildchecklist{
	border:1px solid #000;
	margin: 0px;
	padding: 0px;
}

.basedata th, .land th, .build th, .auction th, .attachment th, .finaldecision th, .buildchecklist th{
	background-color: #ccc;;
}



.x110000 {
	color:red;
	text-align:center;
}

.basedata th {
	margin: 3px;
	padding: 3px;
	width: 100px;
	text-align: center;
}

.basedata td {
	margin: 3px;
	padding: 3px;
}

.land th {
	margin: 3px;
	padding: 3px;
	width: 170px;
	text-align: center;
}

.land td {
	margin: 3px;
	padding: 3px;
}

.build th {
	margin: 3px;
	padding: 3px;
	width: 170px;
	text-align: center;
}

.build td {
	margin: 3px;
	padding: 3px;
}



.attachment th {
	margin: 3px;
	padding: 3px;
	width: 170px;
	text-align: center;
}

.attachment td {
	margin: 3px;
	padding: 3px;
}

.auction th {
	margin: 3px;
	padding: 3px;
	text-align: center;
}

.auction td {
	margin: 3px;
	padding: 3px;
}

.buildchecklist th {
	margin: 3px;
	padding: 3px;
	width: 100px;
}

.buildchecklist td {
	margin: 3px;
	padding: 3px;
	text-align: center;
}*/

