body{
	font-family: 微軟正黑體;
}


/*字型*/

.font-th {
	font-size: 14pt;
	font-family: Arial,標楷體,sans-serif;
	font-width:bold;
	color:black;
	text-align: center;	
}

.font-td {
	font-size: 12pt;
	font-family: Arial,微軟正黑體,sans-serif;
	font-width:bold;
	color:blue;	
}

/*基本資料*/
.xa1100{
	background-color: pink;
	border-right:1px dotted black;
	border-bottom:1px double black;
	background-color: AntiqueWhite;
	width: 100px;
}

.xa1200{
	border-right:1px dotted black;
	border-bottom:1px double black;
	width: 300px;
	text-align: left;
}

.xa1300{
	border-right:1px dotted black;
	border-bottom:1px double black;
	background-color: AntiqueWhite;
	width: 100px;
}
.xa1400{
	border-right:1px dotted black;
	border-bottom:1px double black;
	width: 200px;
}

.xa1500{
	border-right:1px dotted black;
	border-bottom:1px double black;
	background-color: AntiqueWhite;
	width: 100px;
}
.xa1600{
	border-bottom:1px double black;
	width: 200px;
}

.xa2100{
	border-right:1px dotted black;
	background-color: AntiqueWhite;
	width: 100px;
}

.xa2200{
	width: 900px;
}

.xb1100{
	border-top:3px solid black;
	border-right:1px dotted black;
	border-bottom:1px double black;
	border-left:3px solid black;
	background-color: Aquamarine;
	width: 250px;
}
.xb1200{
	border-top:3px solid black;
	border-right:1px dotted black;
	border-bottom:1px double black;	
	background-color: Aquamarine;
	width: 50px;
}
.xb1300{
	border-top:3px solid black;
	border-right:1px dotted black;
	border-bottom:1px double black;	
	background-color: Aquamarine;
	width: 150px;
}
.xb1400{
	border-top:3px solid black;
	border-right:1px dotted black;
	border-bottom:1px double black;	
	background-color: Aquamarine;
	width: 100px;
}
.xb1500{
	border-top:3px solid black;
	border-right:3px solid black;
	border-bottom:1px double black;	
	background-color: Aquamarine;
	width: 150px;
}
.xb1600{
	border-top:none;
	border-bottom:none;
	width: 25px;
}
.xb1700{
	border-top:3px solid black;
	border-right:3px solid black;
	border-bottom:double;
	border-left:3px solid black;
	background-color: Aquamarine;
	width: 125px;
}
.xb1800{
	border-top:none;
	border-bottom:none;
	width: 25px;
}
.xb1900{
	border-top:3px solid black;
	border-right:3px solid black;
	border-bottom:double;
	border-left:3px solid black;
	background-color: DeepSkyBlue;
	width: 125px;
}

.xb2100{
	border-right:1px dotted black;
	border-bottom:3px solid black;
	border-left:3px solid black;
	width: 250px;
}
.xb2200{
	border-right:1px dotted black;
	border-bottom:3px solid black;		
	width: 50px;
}
.xb2300{
	border-right:1px dotted black;
	border-bottom:3px solid black;	
	width: 150px;
}
.xb2400{
	border-right:1px dotted black;
	border-bottom:3px solid black;	
	width: 100px;
}
.xb2500{
	border-right:3px solid black;
	border-bottom:3px solid black;	
	width: 150px;
}
.xb2600{
	border-top:none;
	border-bottom:none;
	width: 25px;
}
.xb2700{
	border-right:3px solid black;
	border-bottom:3px solid black;
	border-left:3px solid black;
	width: 125px;
	text-align: center;
}
.xb2800{
	border-top:none;
	border-bottom:none;
	width: 25px;
}
.xb2900{
	border-right:3px solid black;
	border-bottom:3px solid black;
	border-left:3px solid black;
	width: 125px;
	text-align: center;
}

.xc1100{
	border-top:3px solid black;
	border-right:1px dotted black;
	border-bottom:1px double black;
	border-left:3px solid black;
	background-color: DeepSkyBlue;
	width: 250px;
}
.xc1200{
	border-top:3px solid black;
	border-right:1px dotted black;
	border-bottom:double;
	background-color: DeepSkyBlue;
	width: 50px;
}
.xc1300{
	border-top:3px solid black;
	border-right:1px dotted black;
	border-bottom:double;
	background-color: DeepSkyBlue;
	width: 150px;
}
.xc1400{
	border-top:3px solid black;
	border-right:1px dotted black;
	border-bottom:double;
	background-color: DeepSkyBlue;
	width: 100px;
}
.xc1500{
	border-top:3px solid black;
	border-right:1px dotted black;
	border-bottom:double;
	background-color: DeepSkyBlue;
	width: 150px;
}
.xc1600{
	border-top:3px solid black;
	border-right:1px dotted black;
	border-bottom:double;
	background-color: DeepSkyBlue;
	width: 150px;
}
.xc1700{
	border-top:3px solid black;
	border-right:3px solid black;
	border-bottom:double;
	background-color: DeepSkyBlue;
	width: 150px;
}

.xc2100{
	border-right:1px dotted black;
	border-bottom:3px solid black;
	border-left:3px solid black;
	width: 250px;
}
.xc2200{
	border-right:1px dotted black;
	border-bottom:3px solid black;		
	width: 50px;
}
.xc2300{
	border-right:1px dotted black;
	border-bottom:3px solid black;	
	width: 150px;
}
.xc2400{
	border-right:1px dotted black;
	border-bottom:3px solid black;	
	width: 100px;
}
.xc2500{
	border-right:1px dotted black;
	border-bottom:3px solid black;	
	width: 150px;
}
.xc2600{
	border-right:1px dotted black;
	border-bottom:3px solid black;
	width: 150px;
	text-align: center;
}
.xc2700{
	border-right:3px solid black;
	border-bottom:3px solid black;
	width: 150px;
	text-align: center;
}